@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
    body {
        @apply bg-background text-foreground;
    }
    h1,h2,h3,h4,h5,h6 {
        color: var(--heading-foreground);
    }
}